.main-header {
  display: flex;
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 25px;
}
.main-header__participants {
  font-size: 25px;
  color: rgb(0, 128, 128);
}
.main-header__icon {
  font-size: 25px;
  margin-left: 15px;
}
