.main {
  width: 100%;
  padding: 0px 25px;
}
.main-participant {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px 0;
}
.main-column {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.main-column img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 20px;
}
.main-participant img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-right: 20px;
}

.main-column .user-number {
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 128, 128, 0.8);
}
